Repository mateoolarte/miconomy-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, yarn test

update dependencies
  package.json
  schema.graphql
  yarn.lock
Due: prettier --write

add budgets integration
  prisma/migrations/20220211024256_category_budget_amount/migration.sql
  prisma/migrations/20220211035154_saving_budget_fee/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/graphql/Budgets/index.ts
  src/graphql/Budgets/mutations.ts
  src/graphql/Budgets/queries.ts
  src/graphql/Budgets/resolvers/budgets.ts
  src/graphql/Budgets/resolvers/createBudget.ts
  src/graphql/Budgets/resolvers/createCategoryBudget.ts
  src/graphql/Budgets/resolvers/createSavingBudget.ts
  src/graphql/Budgets/resolvers/deleteCategoryBudget.ts
  src/graphql/Budgets/resolvers/deleteSavingBudget.ts
  src/graphql/Budgets/resolvers/index.ts
  src/graphql/Budgets/resolvers/updateBudget.ts
  src/graphql/Budgets/resolvers/updateCategoryBudget.ts
  src/graphql/Budgets/resolvers/updateSavingBudget.ts
  src/graphql/Budgets/types/Budget.ts
  src/graphql/Budgets/types/CategoryBudget.ts
  src/graphql/Budgets/types/SavingBudget.ts
  src/graphql/Budgets/utils/getCategory.ts
  src/graphql/Budgets/utils/getSaving.ts
  src/graphql/Budgets/utils/parseCategories.ts
  src/graphql/Budgets/utils/parseSavings.ts
  src/graphql/index.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

update libs 16/03/2022
  package.json
  yarn.lock
Due: prettier --write

add budget query
  schema.graphql
  src/graphql/Budgets/queries.ts
  src/graphql/Budgets/resolvers/budget.ts
  src/graphql/Budgets/resolvers/index.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

add entry queries and mutations
  prisma/migrations/20220320011555_amount_entry_category/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/graphql/Budgets/resolvers/budget.ts
  src/graphql/Budgets/resolvers/budgets.ts
  src/graphql/Budgets/resolvers/createBudget.ts
  src/graphql/Budgets/resolvers/deleteCategoryBudget.ts
  src/graphql/Budgets/resolvers/updateBudget.ts
  src/graphql/Budgets/resolvers/updateCategoryBudget.ts
  src/graphql/Entry/index.ts
  src/graphql/Entry/mutations.ts
  src/graphql/Entry/queries.ts
  src/graphql/Entry/resolvers/createCategoryEntry.ts
  src/graphql/Entry/resolvers/createEntry.ts
  src/graphql/Entry/resolvers/createExpense.ts
  src/graphql/Entry/resolvers/createIncome.ts
  src/graphql/Entry/resolvers/entry.ts
  src/graphql/Entry/resolvers/index.ts
  src/graphql/Entry/types/CategoryEntry.ts
  src/graphql/Entry/types/Entry.ts
  src/graphql/Entry/types/Expense.ts
  src/graphql/Entry/types/Income.ts
  src/graphql/Entry/utils/getExpenses.ts
  src/graphql/Entry/utils/getMonth.ts
  src/graphql/Entry/utils/getYear.ts
  src/graphql/Entry/utils/parseEntryCategories.ts
  src/graphql/index.ts
  src/graphql/shared/utils/getCategory.ts
  src/graphql/shared/utils/parseBudgetCategories.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

add entrySaving and sendSaving integration
  prisma/migrations/20220320234829_sent_field_entry_saving/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/graphql/Budgets/resolvers/budget.ts
  src/graphql/Budgets/resolvers/budgets.ts
  src/graphql/Budgets/resolvers/createBudget.ts
  src/graphql/Budgets/resolvers/createSavingBudget.ts
  src/graphql/Budgets/resolvers/deleteSavingBudget.ts
  src/graphql/Budgets/resolvers/updateBudget.ts
  src/graphql/Budgets/resolvers/updateSavingBudget.ts
  src/graphql/Entry/index.ts
  src/graphql/Entry/resolvers/createEntry.ts
  src/graphql/Entry/resolvers/entry.ts
  src/graphql/Entry/types/Entry.ts
  src/graphql/Entry/types/SavingEntry.ts
  src/graphql/Entry/utils/parseEntrySavings.ts
  src/graphql/Savings/mutations.ts
  src/graphql/Savings/resolvers/createSaving.ts
  src/graphql/Savings/resolvers/deleteSaving.ts
  src/graphql/Savings/resolvers/index.ts
  src/graphql/Savings/resolvers/savings.ts
  src/graphql/Savings/resolvers/sendSaving.ts
  src/graphql/Savings/types/Saving.ts
  src/graphql/shared/utils/getSaving.ts
  src/graphql/shared/utils/parseBudgetSavings.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

add seed month creation and simplify config files on package.json
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  Procfile
  babel.config.js
  env-example
  jest.config.js
  package.json
  prettier.config.js
  prisma/seed.ts
Due: eslint, prettier --write

remove file structure docs
  README.md
Due: prettier --write

add get entryCategory and expense crud integration
  schema.graphql
  src/graphql/Entry/mutations.ts
  src/graphql/Entry/queries.ts
  src/graphql/Entry/resolvers/deleteExpense.ts
  src/graphql/Entry/resolvers/entryCategory.ts
  src/graphql/Entry/resolvers/index.ts
  src/graphql/Entry/resolvers/updateCategoryEntry.ts
  src/graphql/Entry/resolvers/updateExpense.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

add getBalance integration
  schema.graphql
  src/graphql/shared/index.ts
  src/graphql/shared/queries/.gitkeep
  src/graphql/shared/queries/index.ts
  src/graphql/shared/queries/resolvers/balance.ts
  src/graphql/shared/types/Balance.ts
  src/libs/generated/nexus.ts
Due: eslint, prettier --write

fix searchEntryExist request
  src/graphql/Entry/resolvers/createEntry.ts
Due: eslint, prettier --write

update libs 31/03/2021
  package.json
  yarn.lock
Due: prettier --write

update node version
  package.json
Due: prettier --write

update libs 29/04/2022
  package.json
  yarn.lock
Due: prettier --write

update libs 09/05/2022
  package.json
  yarn.lock
Due: prettier --write

update libs 30/05/2022
  package.json
  yarn.lock
Due: prettier --write

update env-example
  env-example
Due: none

Update package.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

update config to live again api from this repository
  .env.example
  .eslintignore
  .gitignore
  .prettierignore
  README.md
  env-example
  package.json
  pnpm-lock.yaml
  schema.graphql
  src/app.ts
  src/graphql/Auth/resolvers/login.ts
  src/graphql/Auth/resolvers/signup.ts
  src/graphql/Entry/resolvers/createEntry.ts
  src/server.ts
  src/utils/checkUserAuth.ts
  src/utils/checkUserToken.ts
  src/utils/testHelpers.ts
  src/utils/throwError.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write

change to yarn package manager
  .gitignore
  README.md
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

rename commands to yarn
  README.md
Due: prettier --write

add unique validation on Budget name
  prisma/migrations/20230719055114_unique_budget_title/migration.sql
  prisma/schema.prisma
  src/graphql/Budgets/resolvers/createBudget.ts
Due: eslint, prettier --write

update dependencies 19/07/2023
  package.json
  yarn.lock
Due: prettier --write

update dependencies 27/07/2023
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  yarn test: any of: *.test.{ts,js}
