Repository mateoolarte/miconomy-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn test

add a dummy test
  src/sum.test.js
  src/sum.ts
Due: prettier --write, yarn test

fix Query schema
  schema.graphql
  src/schema.ts
  src/server.ts
Due: prettier --write

create mutations for login and signup
  package.json
  prisma/migrations/20210126012910_init_model_user/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/schema.ts
  yarn.lock
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

add types on schema and downgrade prisma lib
  package.json
  schema.graphql
  src/schema.ts
  yarn.lock
Due: prettier --write

add default value on APP_SECRET
  src/schema.ts
Due: prettier --write

update libs and tsconfig
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

update schema file and divide on resolvers and definitions files
  src/resolvers/Mutation.ts
  src/resolvers/Query.ts
  src/resolvers/definitions/AuthPayload.ts
  src/resolvers/definitions/User.ts
  src/resolvers/index.ts
  src/schema.ts
Due: prettier --write

add api/graphql folder to better structure
  src/api/graphql/Auth.ts
  src/api/graphql/index.ts
  src/resolvers/Query.ts
  src/resolvers/definitions/AuthPayload.ts
  src/resolvers/definitions/User.ts
  src/resolvers/index.ts
  src/schema.ts
  tsconfig.json
Due: prettier --write

update package.json and tsconfig.json
  README.md
  package.json
  tsconfig.json
Due: prettier --write

update node version on readme file
  README.md
Due: prettier --write

update badge status from codeship
  README.md
Due: prettier --write

update branch from badge codeship
  README.md
Due: prettier --write

add test:watch script
  package.json
Due: prettier --write

add config to be the same as the frontend app
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc
  README.md
  babel.config.js
  babel.config.json
  package.json
  yarn.lock
Due: prettier --write

add reset and update mutations, update libs and integrate sendgrid
  package.json
  schema.graphql
  src/api/graphql/Auth.ts
  src/context.ts
  yarn.lock
Due: prettier --write

update graphql mutation to be more mantainable and update libs
  package.json
  schema.graphql
  src/app.ts
  src/graphql/Auth.ts
  src/graphql/index.ts
  src/schema.ts
  src/server.ts
  src/sum.ts
  yarn.lock
Due: prettier --write

add testing setup to work with nexus and graphql
  jest.config.js
  package.json
  src/context.ts
  src/db.ts
  src/graphql/Auth.ts
  src/graphql/Auth/index.ts
  src/graphql/Auth/mutations/Login.ts
  src/graphql/Auth/mutations/ResetPassword.ts
  src/graphql/Auth/mutations/Signup.ts
  src/graphql/Auth/mutations/UpdatePassword.ts
  src/graphql/Auth/mutations/__tests__/Signup.test.ts
  src/graphql/Auth/types/AuthPayload.ts
  src/graphql/Auth/types/ResetPasswordPayload.ts
  src/graphql/Auth/types/User.ts
  src/server.ts
  src/sum.test.js
  src/sum.ts
  src/tests/__helpers.ts
  yarn.lock
Due: prettier --write, yarn test

update migrate command for staging env
  src/tests/__helpers.ts
Due: prettier --write

add ssl connection on pg lib
  src/tests/__helpers.ts
Due: prettier --write

remove nexus-plugin-prisma lib because was deprecated
  package.json
  src/schema.ts
  yarn.lock
Due: prettier --write

create initial config github actions ci
  .github/workflows/tests.yml
Due: prettier --write

remove unused code
  .github/workflows/tests.yml
Due: prettier --write

add node version
  .github/workflows/tests.yml
Due: prettier --write

add setup-node
  .github/workflows/tests.yml
Due: prettier --write

remove name
  .github/workflows/tests.yml
Due: prettier --write

remove ci until found a way to handle request to a real db
  .github/workflows/tests.yml
  README.md
Due: prettier --write

add shared folder
  src/graphql/shared/.gitkeep
Due: none

update config and documentation files to work similar with frontend repo
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .prettierignore
  README.md
  package.json
Due: prettier --write

update dependencies, add global auth flow
  package.json
  src/context.ts
  src/graphql/Auth/mutations/Login.ts
  src/graphql/Auth/mutations/Signup.ts
  src/graphql/Auth/mutations/__tests__/Signup.test.ts
  src/server.ts
  src/utils/checkAuth.ts
  src/utils/generateToken.ts
  src/utils/testHelpers.ts
  yarn.lock
Due: prettier --write, yarn test

remove test
  src/graphql/Auth/mutations/__tests__/Signup.test.ts
Due: prettier --write, yarn test

update dependencies
  package.json
  yarn.lock
Due: prettier --write

update dependencies 24/02/2021
  package.json
  yarn.lock
Due: prettier --write

update dependencies 09/03/2021
  package.json
  yarn.lock
Due: prettier --write

Add account handle queries and mutations
  schema.graphql
  src/graphql/Auth/mutations/UpdatePassword.ts
  src/graphql/common/index.ts
  src/graphql/common/mutations/DeleteUser.ts
  src/graphql/common/query/GetUser.ts
  src/graphql/common/types/DeleteUserPayload.ts
  src/graphql/common/types/User.ts
  src/graphql/index.ts
Due: prettier --write

Create prisma schema according to our db arquitecture
  prisma/schema.prisma
Due: none

Update prisma schema
  prisma/schema.prisma
Due: none

add migration update db relationships
  prisma/migrations/20210327164900_update_db_relationships/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

add overview month query and initial user month queries
  package.json
  prisma/schema.prisma
  schema.graphql
  src/graphql/Auth/index.ts
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/types/UserMonth.ts
  src/graphql/MonthlyView/types/UserMonthCategory.ts
  src/graphql/MonthlyView/types/UserMonthSavingCategory.ts
  src/graphql/MonthlyView/types/UserMonthSavingItem.ts
  src/graphql/common/index.ts
  src/graphql/index.ts
  src/graphql/shared/.gitkeep
  src/graphql/shared/index.ts
  src/graphql/shared/mutations/DeleteUser.ts
  src/graphql/shared/query/GetUser.ts
  src/graphql/shared/query/OverviewMonth.ts
  src/graphql/shared/types/Category.ts
  src/graphql/shared/types/DateTime.ts
  src/graphql/shared/types/DeleteUserPayload.ts
  src/graphql/shared/types/Income.ts
  src/graphql/shared/types/OverviewMonthPayload.ts
  src/graphql/shared/types/User.ts
  src/utils/checkAuth.ts
  yarn.lock
Due: prettier --write

finish queries and mutations structure for monthly view
  schema.graphql
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddExpense.ts
  src/graphql/MonthlyView/mutations/AddIncome.ts
  src/graphql/MonthlyView/mutations/AddUserMonth.ts
  src/graphql/MonthlyView/mutations/AddUserMonthCategory.ts
  src/graphql/MonthlyView/query/GetItems.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/query/GetUserMonthCategories.ts
  src/graphql/MonthlyView/types/Expense.ts
  src/graphql/MonthlyView/types/Item.ts
  src/graphql/MonthlyView/types/UserMonthCategories.ts
  src/graphql/MonthlyView/types/UserMonthCategory.ts
  src/graphql/shared/index.ts
  src/graphql/shared/mutations/AddCategory.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,ts,tsx,md,mdx,yml,yaml}
  yarn test: any of: *.test*
