Repository mateoolarte/miconomy-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, yarn test

finish GetUserMonth query and get initial data from OverviewMonth query
  schema.graphql
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/types/UserMonth.ts
  src/graphql/MonthlyView/types/UserMonthCategories.ts
  src/graphql/shared/query/OverviewMonth.ts
  src/graphql/shared/types/OverviewMonthPayload.ts
Due: eslint --cache --fix, prettier --write

add AddExpense mutation and GetUserCategories
  schema.graphql
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddExpense.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/query/GetUserMonthCategories.ts
  src/graphql/MonthlyView/types/Expense.ts
  src/graphql/MonthlyView/types/Item.ts
  src/graphql/MonthlyView/types/UserMonthCategories.ts
  src/graphql/shared/index.ts
  src/graphql/shared/query/GetUserCategories.ts
  src/graphql/shared/types/UserCategories.ts
Due: eslint --cache --fix, prettier --write

update dependencies 22/04/2021 and commented wip files
  package.json
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddIncome.ts
  src/graphql/MonthlyView/mutations/AddUserMonth.ts
  src/graphql/MonthlyView/mutations/AddUserMonthCategory.ts
  src/graphql/MonthlyView/query/GetItems.ts
  src/graphql/shared/index.ts
  src/graphql/shared/mutations/AddCategory.ts
  src/graphql/shared/query/GetUser.ts
  src/graphql/shared/types/DateTime.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

add logic to OverviewMonth response
  schema.graphql
  src/graphql/MonthlyView/types/Expense.ts
  src/graphql/shared/mutations/AddCategory.ts
  src/graphql/shared/query/OverviewMonth.ts
  src/graphql/shared/types/OverviewMonthPayload.ts
Due: eslint --cache --fix, prettier --write

update dependencies 30/04/2021
  package.json
  yarn.lock
Due: prettier --write

update dependencies 06/05/2021 and add GetItems query
  package.json
  schema.graphql
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/query/GetItems.ts
  src/graphql/MonthlyView/types/Item.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

add AddIncome mutation
  schema.graphql
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddIncome.ts
Due: eslint --cache --fix, prettier --write

remove npm run commands to yarn
  package.json
Due: prettier --write

move ts-node lib to dependencies
  package.json
Due: prettier --write

add generated nexus code
  .eslintignore
  .gitignore
  src/generated/nexus.ts
Due: eslint --cache --fix, prettier --write

update generated nexus file and build script
  package.json
  src/generated/nexus.ts
Due: eslint --cache --fix, prettier --write

finish OverviewMonth and AddUserMonthCategory mutations
  schema.graphql
  src/generated/nexus.ts
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddUserMonthCategory.ts
  src/graphql/shared/query/OverviewMonth.ts
Due: eslint --cache --fix, prettier --write

add AddCategory mutation
  schema.graphql
  src/generated/nexus.ts
  src/graphql/shared/index.ts
  src/graphql/shared/mutations/AddCategory.ts
Due: eslint --cache --fix, prettier --write

update queries response for OverviewMonth and UserMonth
  schema.graphql
  src/generated/nexus.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/types/Item.ts
  src/graphql/MonthlyView/types/UserMonth.ts
  src/graphql/MonthlyView/types/UserMonthSavingCategory.ts
  src/graphql/shared/query/OverviewMonth.ts
Due: eslint --cache --fix, prettier --write

Add missing queries to finish integration with frontend Monthly view
  schema.graphql
  src/generated/nexus.ts
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/query/GetUserMonthCategories.ts
  src/graphql/MonthlyView/types/UserMonthCategories.ts
  src/graphql/shared/query/OverviewMonth.ts
Due: eslint --cache --fix, prettier --write

update the Month table
  package.json
  prisma/migrations/20210611010917_update_month/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/generated/nexus.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
Due: eslint --cache --fix, prettier --write

update nexus generated
  package.json
Due: prettier --write

add env-example
  env-example
Due: none

restructure folders and config files
  .babelrc
  .editorconfig
  .eslintrc
  .eslintrc.js
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierrc
  package.json
  schema.graphql
  src/generated/nexus.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/shared/query/OverviewMonth.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

add support to vscode debugger
  .prettierignore
  .vscode/launch.json
  package.json
  schema.graphql
  src/generated/nexus.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

formatter launch file
  .prettierignore
  .vscode/launch.json
Due: prettier --write

update structure files, dependencies and ts config
  .eslintignore
  .lintstagedrc
  .prettierignore
  README.md
  package.json
  schema.graphql
  src/app.ts
  src/config/context.ts
  src/config/db.ts
  src/graphql/MonthlyView/types/Expense.ts
  src/graphql/schema.ts
  src/graphql/shared/index.ts
  src/graphql/shared/query/OverviewMonth.ts
  src/graphql/shared/types/Income.ts
  src/libs/generated/nexus.ts
  src/server.ts
  src/utils/testHelpers.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

comment unused code
  README.md
  package.json
  schema.graphql
  src/app.ts
  src/graphql/Auth/index.ts
  src/graphql/Auth/mutations/ResetPassword.ts
  src/graphql/Auth/mutations/UpdatePassword.ts
  src/graphql/Auth/types/ResetPasswordPayload.ts
  src/graphql/MonthlyView/index.ts
  src/graphql/MonthlyView/mutations/AddExpense.ts
  src/graphql/MonthlyView/mutations/AddIncome.ts
  src/graphql/MonthlyView/mutations/AddUserMonthCategory.ts
  src/graphql/MonthlyView/query/GetItems.ts
  src/graphql/MonthlyView/query/GetUserMonth.ts
  src/graphql/MonthlyView/query/GetUserMonthCategories.ts
  src/graphql/MonthlyView/types/Expense.ts
  src/graphql/MonthlyView/types/Item.ts
  src/graphql/MonthlyView/types/UserMonth.ts
  src/graphql/MonthlyView/types/UserMonthCategories.ts
  src/graphql/MonthlyView/types/UserMonthCategory.ts
  src/graphql/MonthlyView/types/UserMonthSavingCategory.ts
  src/graphql/MonthlyView/types/UserMonthSavingItem.ts
  src/graphql/index.ts
  src/graphql/schema.ts
  src/graphql/shared/index.ts
  src/graphql/shared/inputs/.gitkeep
  src/graphql/shared/mutations/AddCategory.ts
  src/graphql/shared/mutations/DeleteUser.ts
  src/graphql/shared/query/GetUser.ts
  src/graphql/shared/query/GetUserCategories.ts
  src/graphql/shared/types/Category.ts
  src/graphql/shared/types/DateTime.ts
  src/graphql/shared/types/DeleteUserPayload.ts
  src/graphql/shared/types/Income.ts
  src/graphql/shared/types/OverviewMonthPayload.ts
  src/graphql/shared/types/UserCategories.ts
  src/libs/generated/nexus.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

update resolvers structure
  src/graphql/Auth/index.ts
  src/graphql/Auth/mutations.ts
  src/graphql/Auth/mutations/Login.ts
  src/graphql/Auth/mutations/Signup.ts
  src/graphql/Auth/resolvers/index.ts
  src/graphql/Auth/resolvers/login.ts
  src/graphql/Auth/resolvers/resetPassword.ts
  src/graphql/Auth/resolvers/signup.ts
  src/graphql/Auth/resolvers/updatePassword.ts
Due: eslint --cache --fix, prettier --write

move checkAuth to context
  src/config/context.ts
Due: eslint --cache --fix, prettier --write

update ignore files and update prisma client lib
  .eslintignore
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

finish setup integration testing
  .babelrc
  babel.config.js
  package.json
  prisma/migrations/20211111072100_testing_cases/migration.sql
  src/app.ts
  src/config/context.ts
  src/server.ts
  src/utils/generateToken.ts
  src/utils/testHelpers.ts
  tests/__helpers.ts
  tests/__snapshots__/login.test.ts.snap
  tests/__snapshots__/signup.test.ts.snap
  tests/login.test.ts
  tests/signup.test.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, yarn test

add checkUserAuth and update checkAuth validation
  package.json
  src/config/context.ts
  src/utils/checkAuth.ts
  src/utils/checkUserAuth.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

config eslint with typescript and move test files
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  package.json
  src/graphql/Auth/__tests__/__snapshots__/login.test.ts.snap
  src/graphql/Auth/__tests__/__snapshots__/signup.test.ts.snap
  src/graphql/Auth/__tests__/login.test.ts
  src/graphql/Auth/__tests__/signup.test.ts
  src/tests/__helpers.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write, yarn test

update config files
  .editorconfig
  .eslintignore
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/launch.json
  prettier.config.js
Due: eslint --cache --fix, prettier --write

add createdAt and updatedAt fields
  prisma/migrations/20211109033217_created_and_updated_fields/migration.sql
  prisma/schema.prisma
Due: none

update database schema
  prisma/migrations/20211104043911_test_new_schema/migration.sql
  prisma/migrations/20211105030245_add_currency_and_saving_fee/migration.sql
  prisma/schema.prisma
Due: none

update database schema (#2)
  prisma/migrations/20211104043911_test_new_schema/migration.sql
  prisma/migrations/20211105030245_add_currency_and_saving_fee/migration.sql
  prisma/migrations/20211109033217_created_and_updated_fields/migration.sql
  prisma/schema.prisma
Due: none

remove legacy migration with test
  prisma/migrations/20211111072100_testing_cases/migration.sql
Due: none

update libs and add file structure on readme
  README.md
  package.json
  yarn.lock
Due: prettier --write

update login and signup mutations with schema
  schema.graphql
  src/graphql/Auth/__tests__/__snapshots__/login.test.ts.snap
  src/graphql/Auth/__tests__/__snapshots__/signup.test.ts.snap
  src/graphql/Auth/__tests__/login.test.ts
  src/graphql/Auth/__tests__/signup.test.ts
  src/graphql/Auth/index.ts
  src/graphql/Auth/resolvers/login.ts
  src/graphql/Auth/resolvers/resetPassword.ts
  src/graphql/Auth/resolvers/signup.ts
  src/graphql/Auth/resolvers/updatePassword.ts
  src/graphql/Auth/types/AuthPayload.ts
  src/graphql/Auth/types/ResetPasswordPayload.ts
  src/graphql/shared/types/User.ts
  src/libs/generated/nexus.ts
Due: eslint --cache --fix, prettier --write, yarn test

update login and signup mutations with schema (#3)
  schema.graphql
  src/graphql/Auth/__tests__/__snapshots__/login.test.ts.snap
  src/graphql/Auth/__tests__/__snapshots__/signup.test.ts.snap
  src/graphql/Auth/__tests__/login.test.ts
  src/graphql/Auth/__tests__/signup.test.ts
  src/graphql/Auth/index.ts
  src/graphql/Auth/resolvers/login.ts
  src/graphql/Auth/resolvers/resetPassword.ts
  src/graphql/Auth/resolvers/signup.ts
  src/graphql/Auth/resolvers/updatePassword.ts
  src/graphql/Auth/types/AuthPayload.ts
  src/graphql/Auth/types/ResetPasswordPayload.ts
  src/graphql/shared/types/User.ts
  src/libs/generated/nexus.ts
Due: eslint --cache --fix, prettier --write, yarn test

add resolvers for categories view
  schema.graphql
  src/graphql/Categories/index.ts
  src/graphql/Categories/mutations.ts
  src/graphql/Categories/queries.ts
  src/graphql/Categories/resolvers/categories.ts
  src/graphql/Categories/resolvers/createCategory.ts
  src/graphql/Categories/resolvers/index.ts
  src/graphql/Categories/resolvers/updateCategory.ts
  src/graphql/Categories/types/Category.ts
  src/graphql/index.ts
  src/libs/generated/nexus.ts
Due: eslint --cache --fix, prettier --write

add resolvers for categories view (#4)
  schema.graphql
  src/graphql/Categories/index.ts
  src/graphql/Categories/mutations.ts
  src/graphql/Categories/queries.ts
  src/graphql/Categories/resolvers/categories.ts
  src/graphql/Categories/resolvers/createCategory.ts
  src/graphql/Categories/resolvers/index.ts
  src/graphql/Categories/resolvers/updateCategory.ts
  src/graphql/Categories/types/Category.ts
  src/graphql/index.ts
  src/libs/generated/nexus.ts
Due: eslint --cache --fix, prettier --write

remove unused keys
  env-example
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,json,ts,md,mdx,yml,yaml}
  yarn test: any of: *.test.ts
